.main {
  margin-top: 5%;
}

.header {
  margin:3%;
}

.changeFont {
  font-family:Verdana;
}

.addedCity {
  width:90%;
  border: 1px solid lightgray;
  box-shadow: lightblue 1px 1px;
}

.add-comment-div{
  width:80%;
  display:inline-block;
}

